*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

  body {
    margin: 0 auto;
    padding: 0;
  }

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.navbar {
height: 100px;
position: fixed;
background: linear-gradient(#e56e6e, transparent 100%), linear-gradient(0deg, #705151, transparent 100%);
border-bottom: 2px solid black;
width: 100%;
margin: 0 auto;
/*display: flex;
flex-wrap: wrap;*/
}

.cover {
  height: 50vh;
  width: 100%;
  background-image: url("img/cover3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.headerInfo {
  margin-top: 200px;
  border: 2px solid blue;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.headerInfo h2 {
  color: blue;
}

.headerInfo img {
  align-items: center;
 margin: 0 auto;
 }

.flex-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  z-index: 10;
  border: 20px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  border-right: 100% solid rgba(0,0,0,0.3);
  border-left: 100% solid rgba(0,0,0,0.3);
  align-items: stretch;

}

.flex-form input[type="submit"] {
  background:#FF5A5F;
  border-top: 1px solid #FF5A5F;
  border-bottom: 1px solid #FF5A5F;
  color:white;
  flex-basis:10px;
}

/*.flex-form input[type="search"] {
  flex-basis:600px;
}*/
.flex-form > * {
  flex: 1;
  border:0;
  padding:10px;
  background:white;
  line-height:50px;
  font-size: 20px;
  border-radius:0;
  outline:0;
  border-right:1px solid rgba(0,0,0,0.2);
  -webkit-appearance:none;
}

.flex-form > *:last-child {
  border-right: 0;
}
.icons img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
.icons{
  display: flex;
  justify-content: center;
  height: 350px;
  width: 100%;
}
.icon1, .icon2, .icon3{
  display: flex;
  flex: 1;
  flex-direction: column;
    align-items: center;
  justify-content: center;
}

footer {
  background: linear-gradient(#e56e6e, transparent 100%), linear-gradient(0deg, #705151, transparent 100%);
  border-bottom: 2px solid black;
  width: 100%;
}
